<%- include('partials/header') %>
<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          <h1 class="mb-3">Book Directory</h1>
          <p class="mb-5">Make Your Own Book and upload on our best plaform started on
            <strong>September 2020</strong>! Register for updates using the form below.</p>

          <div class="input-group-append">
            <a class="btn btn-secondary btn-lg register-buttons" type="submit" href="/register" style="color: white;">Register</a>
            <a class="btn btn-secondary btn-lg register-buttons" type="submit" href="/login" style="color: white;">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>