<%- include('partials/header') %>
<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <!-- <div class="masthead-content text-white py-5 py-md-0"> -->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="image">
                            <img src="img/book1.jpg" />
                        </div>
                        <div class="card-inner">
                            <div class="header">
                                <p>Rich Dad Poor Dad</p>
                            </div>
                            <div class="content">
                                <p>Content area</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer') %>