<%- include('partials/header') %>

<div class="col-sm">
    <div class="text-white">
        <h2 class="h-margin">View Books</h2>
    </div>
    <div class="card-deck">
        <div class="card" style="width: 135px;">
            <div class="card-header">
                <img class="card-image" src="img/book1.jpg" alt="Cover">
            </div>
            <div class="card-body">
                <h4 class="card-title"><%=abc%></h4>
                <p class="card-text"><%=def%></p>
            </div>
        </div>
        <!-- <div class="card" style="width: 135px;">
            <div class="card-header">
                <img class="card-image" src="img/book1.jpg" alt="Cover">
            </div>
            <div class="card-body">
                <h4 class="card-title">Rich Dad Poor Dad </h4>
                <p class="card-text">Robort T. Kioski</p>
            </div>
        </div>
        <div class="card" style="width: 135px;">
            <div class="card-header">
                <img class="card-image" src="img/book1.jpg" alt="Cover">
            </div>
            <div class="card-body">
                <h4 class="card-title">Rich Dad Poor Dad </h4>
                <p class="card-text">Robort T. Kioski</p>
            </div>
        </div>
        <div class="card" style="width: 135px;">
            <div class="card-header">
                <img class="card-image" src="img/book1.jpg" alt="Cover">
            </div>
            <div class="card-body">
                <h4 class="card-title">Rich Dad Poor Dad </h4>
                <p class="card-text">Robort T. Kioski</p>
            </div>
        </div>
        <div class="card" style="width: 135px;">
            <div class="card-header">
                <img class="card-image" src="img/book1.jpg" alt="Cover">
            </div>
            <div class="card-body">
                <h4 class="card-title">Rich Dad Poor Dad </h4>
                <p class="card-text">Robort T. Kioski</p>
            </div>
        </div>
    </div>
</div> -->

<%- include('partials/footer') %>